/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

body {
  @apply lg:mx-36;
  /* @apply bg-gradient-to-tr from-slate-600 via-zinc-700 to-neutral-600; */
	font-family: 'Poppins', sans-serif !important;
  color: #505050
}
h1, h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif !important
}
p {
  font-family: 'Inter', sans-serif !important
}
