@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');




body {
  @apply selection:text-black selection:bg-white;
  /* @apply bg-gradient-to-r from-violet-300 to-blue-100; */

	font-family: 'Inter', sans-serif;
  @apply bg-[#222222] text-[#CFCFCF] overflow-x-hidden;

}
h1{
  font-family:  sans-serif;
}
h2,h3,h4,h5,h6, a{
  font-family: 'Inter', sans-serif;
}
p {
  font-family: 'Inter', sans-serif;
}

.poppins{
  font-family: 'Poppins', sans-serif
}

.inter{
  font-family: 'Inter', sans-serif;
}

.serif{
  font-family: sans-serif;
}

.quote {
  font-family: 'Montserrat', sans-serif;
}


mark{
  @apply bg-indigo-300/80 p-0.5 rounded-sm
}



