---
import BaseHead from '../components/BaseHead.astro';
import UnknownPage from '../components/unknownPage.svelte';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>404 Error</title>
		<meta name="description" content="Where do you think you're going?">
		<!-- <BaseHead title="404 Error" description="Where do you think you're going?" /> -->
	</head>
		<!-- Quote from Toby Fox... Shout out! -->
		<UnknownPage client:load />
</html>