---
import BaseHead from '../components/BaseHead.astro';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="404 Error" description="Where do you think you're going?" />
	</head>
	<body>
		this page cannot be found...
	</body>
</html>