---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import SectionHeader from "../components/SectionHeader.svelte";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Joe Malatesta"
			description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement"
		/>
	</head>
	<body>
		<Header client:load />
		<SectionHeader title={"About me"} subtitle={"An in depth look at where I came from, where I am now, and what I want to be."} />
		<div class=" flex flex-col lg:mx-40 xl:mx-60">
			<div class="flex flex-col md:flex-row justify-between md:m-4 mx-10 my-5">
				<div class="md:w-1/2">
					<p class="md:text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam animi fuga cupiditate repellendus minus nisi dignissimos molestias, eaque, quod similique, ad enim perspiciatis. Dolores perferendis illum quaerat numquam ab?</p>
				</div>
				<div class="md:w-1/2 ">
					<img src="/pureto-boy.jpeg" alt="" class="">
				</div>
			</div>
			<div class="flex flex-col justify-between md:m-4 mx-10 my-5 md:flex-row-reverse">
				<div class="md:w-1/2 md:mx-3">
					<p class="md:text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis perspiciatis velit alias nam tenetur repellendus, quia itaque, cupiditate reiciendis laborum aliquam dolor esse amet atque rem ratione, cumque animi praesentium.</p>
				</div>
				<div class="md:w-1/2">
					<img src="/hawaii-hill.jpeg" alt="" class="">
				</div>
			</div>
			<div class="flex flex-col md:flex-row justify-between md:m-4 mx-10 my-5">
				<div class="md:w-1/2 poppins">
					<p class="md:text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima obcaecati dolor ducimus illo earum ex qui laboriosam quam ea voluptatibus neque consectetur, enim quisquam sequi, ad in non esse!</p>
				</div>
				<div class="md:w-1/2">
					<img src="/hawaii-tube.jpeg" alt="" class="">
				</div>
			</div>
		</div>



		<Footer />
	</body>
</html>
