---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import SectionHeader from "../components/SectionHeader.svelte";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Joe Malatesta"
			description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement"
		/>
	</head>
	<body>
		<Header client:load />
		<SectionHeader
			title={"About me"}
			subtitle={"An in depth look at who I was, who I am now, and who I want to be."}
		/>
		<div class="flex flex-col lg:mx-20 xl:mx-60">
			<div class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row">
				<div class="md:mx-3 md:w-1/2">
					<h2 class="text-xl md:text-2xl xl:text-3xl text-sky-300">Who I was</h2>
					<p class="lg:text-xl">
						My life, in a professional sense, didn't really start until college,
						but we’ll get there. In elementary and middle school my sole focus
						was my personal enjoyment. Every second of every day was spent doing
						exactly what I wanted to do which usually consisted of soccer,
						diving, friends, or <span class="text-sky-300 underline underline-offset-2 hover:text-sky-400"
							><a
								href="https://mcpvpminecraftpvp.fandom.com/wiki/Hardcore_Games"
								>Minecraft PvP</a
							></span
						>. In Highschool, my focus shifted a bit. I now had commitments that
						were generally outside the realm of enjoyment. I stopped going to
						the pool and quit soccer and instead started working and spending
						more of my time online playing games and 
						<span class="text-sky-300 underline underline-offset-2 hover:text-sky-400"
						><a
							href="/blog/programming/humble-beginnings"
							>Reselling Shoes.</a></span> While my time spent online
						can generally be seen as a waste of time, this is where I discovered
						the world of programming and learned how to find and interact with
						communities I was interested in to help deepen my understanding and
						find people that share interests and ideas.
					</p>
				</div> 
				<div class="md:w-1/2 flex justify-center">
					<img src="/pureto-boy.jpeg" alt="" class="md:h-[28rem] aspect-video object-cover" />
				</div>
			</div>
			<div
				class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row-reverse"
			>
				<div class="md:mx-3 md:w-1/2">
					<h4 class="text-xl md:text-2xl xl:text-3xl text-rose-300">Who I am now</h4>
					<p class="lg:text-xl">
						Beginning in college, I still held many of the same tendencies.
						Powered by online school, I would sit on my computer doing nothing
						but school and video games for an ungodly amount of time each day. I
						tried learning Python and Java but couldn’t bring myself to do
						anything productive. The depressing state of the world got to me and
						I wasn’t doing shit. Fast forward to the next year and I randomly
						ended up in a gym one day and randomly ended up with a job teaching
						programming the next. These two things alone, that came to me just by showing up, turned my life around and got me
						back being productive and actually enjoying it. It’s only been a
						year since then and I’ve made progress in both respective areas that
						I could only dream of. I've found enjoyment in the process of
						bettering myself and continue to do so each day.
					</p>
				</div>
				<div class="md:w-1/2 flex justify-center">
					<img src="/hawaii-hill.jpeg" alt="" class="md:h-[32rem] aspect-video object-cover" />
				</div>
			</div>
			<div class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row">
				<div class="md:mx-3 md:w-1/2">
					<h2 class="text-xl md:text-2xl xl:text-3xl text-sky-300">Who I want to be</h2>
					<p class="lg:text-xl">
						5th grade me is still trying to come to terms with sitting in a
						chair for a good portion of the day, and 12th grade me is still
						trying to get over the fear of judgement, but current me is looking
						at every coming day as an opportunity to push myself and stay
						consistent to the methods that have landed me great internships and
						great improvement. Rewrite this but yeah. I want to rise to the top
						of whatever I might be doing at the time. Whatever I do, I wanna be
						great. Also I love to travel. I comepletely left that one out but I have been around the world a bit already but want to get out and about and end up raising my kids in Germany.
					</p>
				</div>
				<div class="md:w-1/2 flex justify-center">
					<img src="/hawaii-tube.jpeg" alt="" class="md:h-[32rem] aspect-video object-cover" />
				</div>
			</div>
		</div>

		<Footer />
	</body>
</html>
