---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import SectionHeader from "../components/SectionHeader.svelte";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Joe Malatesta"
			description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement"
		/>
	</head>
	<body>
		<Header client:load />
		<SectionHeader title={"About me"} subtitle={"An in depth look at who I was, who I am now, and who I want to be."} />
		<div class=" flex flex-col lg:mx-20 xl:mx-60">
			<div class="flex flex-col md:flex-row justify-between md:m-4 mx-10 my-5">
				<div class="md:w-1/2 md:mx-3">
					<p class="md:text-md lg:text-lg"></p>
				</div>
				<div class="md:w-1/2 ">
					<img src="/pureto-boy.jpeg" alt="" class="">
				</div>
			</div>
			<div class="flex flex-col justify-between md:m-4 mx-10 my-5 md:flex-row-reverse">
				<div class="md:w-1/2 md:mx-3">
					<h4 class="md:text-2xl text-xl">Actually About Me</h4>
					<p class="md:text-md lg:text-lg">I like going on hikes but not really. I like to travel and work out and things but I don't really go outside that often :(</p>
				</div>
				<div class="md:w-1/2">
					<img src="/hawaii-hill.jpeg" alt="" class="">
				</div>
			</div>
			<div class="flex flex-col md:flex-row justify-between md:m-4 mx-10 my-5">
				<div class="md:w-1/2 md:mx-3">
					<p class="md:text-md lg:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, minima obcaecati dolor ducimus illo earum ex qui laboriosam quam ea voluptatibus neque consectetur, enim quisquam sequi, ad in non esse!</p>
				</div>
				<div class="md:w-1/2">
					<img src="/hawaii-tube.jpeg" alt="" class="">
				</div>
			</div>
		</div>



		<Footer />
	</body>
</html>
