---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import SectionHeader from "../components/SectionHeader.svelte";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Joe Malatesta"
			description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement"
		/>
	</head>
	<body>
		<Header client:load />
		<SectionHeader
			title={"About me"}
			subtitle={"An in depth look at who I was, who I am now, and who I want to be."}
		/>
		<div class="flex flex-col lg:mx-20 2xl:mx-60">
			<div class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row">
				<div class="md:mx-3 md:w-1/2">
					<h2
						class="text-xl font-semibold text-indigo-300 md:text-2xl xl:text-3xl"
					>
						Who I was
					</h2>
					<p class="lg:text-xl">
						My life, in a professional sense, didn't really start until college,
						but we'll get there. In elementary and middle school my sole focus
						was my personal enjoyment. Every second of every day was spent doing
						exactly what I wanted to do which usually consisted of soccer,
						diving, friends, or Minecraft. In Highschool, my focus shifted a bit. I now had commitments that
						were generally outside the realm of enjoyment. I stopped going to
						the pool and quit soccer and instead started working and spending
						more of my time online playing games and
						<span
							class="text-indigo-300 underline underline-offset-2 hover:text-indigo-400"
							><a href="/blog/programming/humble-beginnings">Reselling Shoes.</a
							></span
						> While my time spent online can generally be seen as a waste of time,
						this is where I discovered the world of programming and learned how to
						find and interact with communities I was interested in to help deepen
						my understanding and find people that share interests and ideas.
					</p>
				</div>
				<div class="flex justify-center md:w-1/2">
					<img
						src="/pureto-boy.jpeg"
						alt=""
						class="aspect-video object-cover md:h-[28rem] rounded-md"
					/>
				</div>
			</div>
			<div
				class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row-reverse"
			>
				<div class="md:mx-3 md:w-1/2">
					<h4
						class="text-xl font-semibold text-indigo-300 md:text-2xl xl:text-3xl"
					>
						Who I am now
					</h4>
					<p class="lg:text-xl">
						Beginning in college, I still held many of the same tendencies.
						Powered by online school, I would sit on my computer doing nothing
						but school and video games for an ungodly amount of time each day. I
						tried learning Python and Java but the depressing state of the world got to me and I couldn't bring myself to do
						anything productive. Fast forward one year and
						through coincidence, I ended up in the gym, with a job teaching
						programming. I was fortunate enough to find joy in improving myself
						and the consistent process of doing so has lead me to great feats in
						just one year. I just finished my first internship with Alps Alpine,
						will be starting at Mercedes-Benz Financial Services in the summer,
						and hopefully, by the end of college, end up working towards something that I
						can look back and be proud of.
					</p>
				</div>
				<div class="flex justify-center md:w-1/2">
					<img
						src="/hawaii-hill.jpeg"
						alt=""
						class="aspect-video object-cover md:h-[32rem] rounded-md"
					/>
				</div>
			</div>
			<div class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row">
				<div class="md:mx-3 md:w-1/2">
					<h2
						class="text-xl font-semibold text-indigo-300 md:text-2xl xl:text-3xl"
					>
						Who I want to be
					</h2>
					<p class="lg:text-xl">
						Even though 5th grade me is still trying to come to terms with
						sitting in a chair for a good portion of the day, and 12th grade me
						is still trying to get over the fear of judgement, current me is
						looking at every coming day as an opportunity to push myself and
						stay consistent to the methods that have taken me this far. I found
						a real love for programming in this last year and always want to
						continue pushing myself, but I want to make sure I find time for
						enjoying the childlike things I still crave while I still can. I
						also want to continue traveling and take time to see all that this
						world has to offer.
					</p>
				</div>
				<div class="flex justify-center md:w-1/2">
					<img
						src="/hawaii-tube.jpeg"
						alt=""
						class="aspect-video object-cover md:h-[32rem] rounded-md"
					/>
				</div>
			</div>
		</div>

		<Footer />
	</body>
</html>
