---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
import BlogCard from '../components/blogCard.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Bloggington" description="A list of Joe Malatesta's blog posts about tech, coding, and self improvement." />
	</head>
	<body>
		<Header client:load/>
		<main>
			<div class="grid md:grid-cols-3 gap-4 mx-10 grid-cols-1">
				{
					posts.slice(0,6).map((post) => (
						<BlogCard title={post.frontmatter.title} description={post.frontmatter.description} date={post.frontmatter.pubDate} url={post.url}/>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
