---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Joe Malatesta" description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement" />
	</head>
	<body>
		<Header client:load/>
		<main>
			<h1>Heyyy</h1>
		</main>
		<Footer />
	</body>
</html>
