---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import Blog from "../components/blog.svelte";
import Projects from "../components/project2.svelte"
import About from "../components/intro.astro";
import Contact from "../components/contact.svelte";

// Sorry about this...
const techPosts = (await Astro.glob("../pages/blog/programming/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
const improvementPosts = (
	await Astro.glob("../pages/blog/improvement/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
let quotes =   ['"The only way to learn a new programming language is by writing programs in it." - Dennis Ritchie',
				'"Man cannot remake himself without suffering, for he is both the marble and the sculptor." - Alexis Carrel' ]
---
<!-- from-purple-400 to-pink-500 
nice gradient -->

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead
			title="Joe Malatesta"
			description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement"
		/>
	</head>
	<body>
		<Header client:load />
		<main>
			<!-- Main section -->
			<section class="">
				<div class="md:mt-6 mt-2 flex flex-col items-center justify-center md:flex-row relative">
					<div class="flex flex-col items-center justify-center p-2 py-4 px-5">
						<h1
							class="p-2 bg-gradient-to-r from-neutral-800 to-rose-400 bg-clip-text lg:p-5 text-5xl font-extrabold text-transparent lg:text-7xl md:block flex flex-col quote"
						>
							Insipired by <span class="py-2"><TypeWriter client:load /></span>
						</h1>
					</div>
				</div>
			</section>

			<section id="about" class="lg:px-16">
					<About />
			</section>

			<section id="blog" class="lg:px-16 py-7">
				<Blog client:load postTypes={["Programming", "Self Improvement"]} posts={[techPosts, improvementPosts]} quotes={quotes}/>
			</section>

			<!-- Projects Section -->
			<section id="projects" class="lg:px-16 px-4 py-7 ">
				<Projects client:load/>
			</section>

			<section id="contact" class="lg:px-16 py-7 relative">
				
				<Contact client:load/>
				
			</section>
			<Footer />
		</main>
	</body>
</html>

