---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
import TypeWriter from '../components/TypeWriter.svelte';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Joe Malatesta" description="Personal website for Joe Malatesta, a software developer focused on new tech and self improvement" />
	</head>
	<body>
		<Header client:load/>
		<main class="h-screen bg-[url('/swag.png')]">
			<div class="flex items-center justify-center mt-6 md:flex-row flex-col">
				<div class="flex flex-col items-center justify-center px-5 text-center">
					<h1 class="md:text-7xl text-4xl">Joe Malatesta</h1>
					<h3 class="md:text-4xl text-2xl">Insipired by <span><TypeWriter client:load/></span></h3>
				</div>
				<!-- <div class=" md:w-1/2 m-6">
					Literally same as last website... replace this shit with something else. Another picture with background cropped out maybe..
					<img src="teaching.jpeg" alt="" class="rounded-lg object-cover">
				</div> -->
			</div>
			<!-- <div class="text-center ">
				<h5 class="mt-20 text-xl">If you're seeing this</h5>
				<h5 class="text-xl">This site is under construction...</h5>
			</div> -->
		</main>
		<Footer />
	</body>
</html>
