---
import BaseHead from "../components/BaseHead.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={"Tech Blogs"} description={"A list of all blogs pertaining to technology. I talk about programming, namely front end development with new and cutting edge tools like svelte, tailwind, and deployment with vercel."}/>
</head>
<body>
    All my blogs!
</body>
</html>