---
import BaseHead from "../components/BaseHead.astro";
import UnknownPage from "../components/unknownPage.svelte";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Analytics -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-PVJYSFBCJW"></script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-PVJYSFBCJW');
		</script>
		
		<title>404 Error</title>
		<meta name="description" content="Where do you think you're going?" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
	</head>
	<!-- Quote from Toby Fox... Shout out! -->
	<UnknownPage client:load />


	<style>
		@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
		body {
			font-family: "VT323", monospace;
		}
	</style>
</html>
