---
import SectionHeader from "./SectionHeader.svelte";
---

<main>
	<!-- <SectionHeader
		title={"About"}
		subtitle={"My lifes story packed into 2 sentences."}
	/> -->
	<div class="mx-5 my-2 flex flex-col justify-around items-center lg:flex-row">
		<div class="my-3 lg:w-1/2">
			<h1 class="md:text-3xl text-2xl font-bold">Joe Malatesta</h1>
			<p class="lg:text-xl md:text-lg 2xl:text-2xl">
				I'm a <span class="font-semibold text-rose-400">full stack developer</span> and full time student focused on constantly learning and improving in all apsects of my life. Initally introduced by 
				<span class="text-rose-400 font-semibold  hover:underline">
					<a
						href="https://www.imperva.com/learn/application-security/sneaker-bot/"
						rel="noreferrer"
						target="_blank">botting software</a
					></span>, I have been learning and creating with cutting edge software in and out of school for the last two years, taking mutliple jobs and internships in teaching and developing software.
					<hr>
					<p class="text-sm">Not enough info? Learn more <span class="text-rose-400 underline hover:text-rose-500"> <a href="/about">about me</a> </span>
        </p></p>
		</div>
	<div
		class="relative rounded-lg 
		 ring-4 ring-offset-4 ring-rose-500
		 lg:w-1/2 md:w-2/3 md:m-5 m-2 lg:scale-90"
	>
		<img src="professional-pic.jpeg" alt="Joe Malatesta Portrait" class="rounded-xl"/>
		<!-- <img
			src="/logos/tailwind.png"
			alt="tailwind icon"
			class="absolute top-1 left-1 -rotate-6"
			width="55"
		/>
		<img
			src="/logos/astro.svg"
			alt="astro icon"
			class="absolute top-1 right-1 rotate-6"
			width="55"
		/>
		<img
			src="/logos/vercel.png"
			alt="svelte icon"
			class="absolute bottom-1 left-1 -rotate-6"
			width="55"
		/>
		<img
			src="/logos/svelte.png"
			alt="vercel icon"
			class="absolute bottom-1 right-1 -rotate-6"
			width="55"
		/> -->
	</div>
</div>
</main>
