---
const today = new Date();
---

<footer
	class="my-4 flex items-center justify-around m-0 p-0"
>
	<h3 class="md:text-xl text-md">&copy;{today.getFullYear()} Joe Malatesta.</h3>

	<!-- Small screen sizes -->
	<div class="md:hidden items-center flex mx-2">
		<a
			class="mx-1"
			href="https://twitter.com/josumalatesta"
			target="_blank"
			rel="noreferrer"
			><img src="/twitter.png" alt="Twitter Icon" width="30" /></a
		>
		<a
			class="mx-1"
			href="https://github.com/joemmalatesta"
			target="_blank"
			rel="noreferrer"><img src="/github.png" alt="Github Icon" width="30" /></a
		>
		<a
			class="mx-1"
			href="https://www.linkedin.com/in/joe-malatesta/"
			target="_blank"
			rel="noreferrer"
			><img src="/linkedin.png" alt="Linkedin Icon" width="30" /></a
		>
	</div>

	<!-- MD Screen Size icons -->
	<div class="hidden md:flex items-center mx-2">
		<a
			class="mx-1"
			href="https://twitter.com/josumalatesta"
			target="_blank"
			rel="noreferrer"
			><img src="/twitter.png" alt="Twitter Icon" width="40" /></a
		>
		<a
			class="mx-1"
			href="https://github.com/joemmalatesta"
			target="_blank"
			rel="noreferrer"><img src="/github.png" alt="Github Icon" width="40" /></a
		>
		<a
			class="mx-1"
			href="https://www.linkedin.com/in/joe-malatesta/"
			target="_blank"
			rel="noreferrer"
			><img src="/linkedin.png" alt="Linkedin Icon" width="40" /></a
		>
	</div>
</footer>
