---
const today = new Date();
---

<!-- <footer class="flex items-center justify-between mx-3">
	<h3>&copy;{today.getFullYear()} Joe Malatesta.</h3>
	<a href="mailto:joemmalatesta@gmail.com"><img src="/mail.png" alt="Email Icon" width="40"></a>
</footer> -->

