---
const today = new Date();
---



<footer class="flex items-center md:justify-between justify-center md:mx-24 my-4">
	<h3 class="text-xl">&copy;{today.getFullYear()} Joe Malatesta.</h3>
	<div class="hidden md:flex items-center">
		<a class="mx-2" href="https://twitter.com/josumalatesta" target="_blank" rel="noreferrer"><img src="/twitter.png" alt="Twitter Icon" width="35"></a>
		<a class="mx-2" href="https://github.com/joemmalatesta" target="_blank" rel="noreferrer"><img src="/github.png" alt="Github Icon" width="35"></a>
		<a class="mx-2" href="https://www.linkedin.com/in/joe-malatesta/" target="_blank" rel="noreferrer"><img src="/linkedin.png" alt="Linkedin Icon" width="35"></a>
	</div>
</footer>

