---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav class="flex items-center justify-between bg-slate-400 p-4 shadow-lg">
		<!-- Main Links -->
		<div>
			<a href="/">Home</a>
			<a href="/">Blog</a>
			<a href="/">About</a>
		</div>
		<!-- Image links -->
		<div>
			<a href="https://twitter.com/josumalatesta">Twitter</a>
			<a href="https://github.com/joemmalatesta">Github</a>
			<a href="https://www.linkedin.com/in/joe-malatesta/">Linkedin</a>
		</div>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/josumalatesta" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/joemmalatesta" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
