---
let navToggle = false
---

<!-- LARGE SCREEN SIZES -->
<nav class="hidden md:flex items-center justify-between p-4 text-xl shadow-lg mb-4">
	<!-- Name -->
	<a class="text-2xl mx-5" href="/">Joe Malatesta</a>
	<!-- Main Links -->
	<div class="flex items-center">
		<a class="mx-2 hover-effect" href="/">Home</a>
		<a class="mx-2" href="/blog">Blog</a>
		<a class="mx-2" href="/about">About</a>
	</div>
	<!-- Image links -->
	<div class="flex mx-5 items-center">
		<a class="mx-2" href="https://twitter.com/josumalatesta"><img src="/twitter.png" alt="Joe Malatesta Twitter" width="40"></a>
		<a class="mx-2" href="https://github.com/joemmalatesta"><img src="/github.png" alt="Joe Malatesta Twitter" width="40"></a>
		<a class="mx-2" href="https://www.linkedin.com/in/joe-malatesta/"><img src="/linkedin.png" alt="Joe Malatesta Twitter" width="40"></a>
	</div>
</nav>



<!-- PHONE SCREEN SIZES -->
<nav class="md:hidden flex flex-col items-start justify-start p-3 text-lg shadow-lg mb-4">
	<div class="flex justify-between items-center w-11/12 py-2 mx-auto">
		<a href="/">Joe Malatesta</a>
		<img src="/toggleNavButton.png" alt="Navigation menu toggler" width="40" id="navToggler">
	</div>

	<!-- TODO: add functionality to toggleNav button  -->
	{navToggle &&
	<div>
		<a  href="/">Home</a>
		<a  href="/blog">Blog</a>
		<a  href="/about">About</a>
	</div>
	<div class="flex flex-row">
		<a  href="https://twitter.com/josumalatesta"><img src="/twitter.png" alt="Joe Malatesta Twitter" width="40"></a>
		<a  href="https://github.com/joemmalatesta"><img src="/github.png" alt="Joe Malatesta Twitter" width="40"></a>
		<a  href="https://www.linkedin.com/in/joe-malatesta/"><img src="/linkedin.png" alt="Joe Malatesta Twitter" width="40"></a>
	</div>
	}
</nav>



<script>
	let navShown = false
	const toggleNav = document.getElementById('navToggler').addEventListener("click", () => {navShown != navShown})
</script>



