---
import SectionHeader from "./SectionHeader.svelte";
---

<main>
	<!-- <SectionHeader
		title={"About"}
		subtitle={"My lifes story packed into 2 sentences."}
	/> -->
	<div class="mx-5 my-2 flex flex-col items-center justify-around lg:flex-row">
		<div class="my-3 lg:w-1/2">
			<h1 class="text-2xl font-bold md:text-3xl">Joe Malatesta</h1>
			<p class="md:text-lg lg:text-xl 2xl:text-2xl">
				I'm a <span class="font-semibold text-sky-400"
					>full stack developer</span
				> and <span class="font-semibold text-sky-400">full time student</span>
				focused on constantly learning and improving in all apsects of my life. Initally
				introduced by automation software in highschool, I have learned many types
				of development languages and tools, and continue to do so in work, school,
				and hobby every single day.
				<p class="text-sm quote">
					Want to know even more <span
						class="text-sky-400 underline hover:text-sky-500"
					>
						<a href="/about">about me?</a>
					</span>
				</p>
			</p>
		</div>
		<div
			class="relative m-2 rounded-lg ring-4 ring-sky-500 ring-offset-4 md:m-5 md:w-2/3 lg:w-1/2 lg:scale-90"
		>
			<img
				src="professional-pic.jpeg"
				alt="Joe Malatesta Portrait"
				class="rounded-xl"
			/>
			<!-- <img
			src="/logos/tailwind.png"
			alt="tailwind icon"
			class="absolute top-1 left-1 -rotate-6"
			width="55"
		/>
		<img
			src="/logos/astro.svg"
			alt="astro icon"
			class="absolute top-1 right-1 rotate-6"
			width="55"
		/>
		<img
			src="/logos/vercel.png"
			alt="svelte icon"
			class="absolute bottom-1 left-1 -rotate-6"
			width="55"
		/>
		<img
			src="/logos/svelte.png"
			alt="vercel icon"
			class="absolute bottom-1 right-1 -rotate-6"
			width="55"
		/> -->
		</div>
	</div>
</main>
